*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: var(--bg--global);
}
body,form,div,a,form,ul,li,input,label{
    margin: 0;
    padding: 0;
    user-select: none;
}
a{
    text-decoration: none;
}

/* Barra de navegacion para movil, tablet y pc */

header{
    background: var(--barra-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
}
.barra--item{
    color: var(--nav-color);
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    right: 10px;
}
.barra-check{
    display: none;
}
.barra--nav{
    display: none;
    position: absolute;
    max-width: 500%;
    min-width: 99.9vw;
    max-height: 110vh;
    top: 0;
    z-index: 100;
    background-color: var(--barra-color);
}
.barra-check:checked ~ .barra--nav{
    display: flex;
}
.barra--img{
    max-width: 100%;
    width: 70px;
    border-radius: 50%;
    margin: 15px 20px;
}
.barra--item3 a{
    color: var(--bar-color);
}
.barra--item3{
    color: var(--barbg-color);
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0;
    margin-bottom: 0;
    top: 6px
}
.close-menu{
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--nav-color);
    font-size: 60px;
    cursor: pointer;
}

/* main */

.centro{
    container-type: size;
    container-name: main;
}
.centro-item{
    display: flex;
    background: var(--bg--global);
    flex-direction: column;
}
.centro-img{
    max-width: 100%;
    min-height: 100px;
    margin-top: 10px;
}
h1{
    color: #FA1E1E;
    text-align: center;
    font-family: fantasy;
    font-weight: 200;
}
h2{
    color: #FA1E1E;
    text-align: center;
}
.card{
    margin-right: 20px;
    width: 270px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    background: color-mix(in srgb, #FF6D1F 60%, #fff 50%);
    box-shadow: 0 25px 50px #3B3B3B, inset 0 -4px 8px #A6A6A6;
    transition: transform .5s ease, box-shadow .6s ease;
    color: var(--text-color);
    margin: auto;
}
.card:hover{
    transform: rotate(0deg) scale(1) translateY(-10px) translateX(10px);
    box-shadow: 0 35px 70px #171718, inset 0 -6px 10px #585858;
}
.card--item{
    text-align: left;
    padding: 0 12px;
}
.card2{
    margin-right: 20px;
    width: 270px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    background: color-mix(in srgb, #FF6D1F 60%, #fff 50%);
    box-shadow: 0 25px 50px #3B3B3B, inset 0 -4px 8px #A6A6A6;
    transition: transform .5s ease, box-shadow .6s ease;
    color: var(--text-color);
    margin: auto;
    margin-top: -50px;

}
.card2:hover{
    transform: rotate(0deg) scale(1) translateY(-15px) translateX(10px);
    box-shadow: 0 35px 70px #171718, inset 0 -6px 10px #585858;
}
.card--item2{
    text-align: left;
    padding: 0 12px;
}

/* colores generales */

@property --barra-color{
    syntax: "<color>";
    inherits: false;
    initial-value: color-mix(in srgb, #FF8533 90%, #fff 10%);
}
@property --text-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #9E9E9E;
}
@property --bar-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #47474f;
}
@property --barbg-color{
    syntax: "<color>";
    inherits: false;
    initial-value: color-mix(in srgb, #F56F18 90%, #000 20%);
}
@property --nav-color{
    syntax: "<color>";
    inherits: false;
    initial-value: color-mix(in srgb, #FF653B 60%, #000 30%);
}
@property --bg--global{
    syntax: "<color>";
    inherits: false;
    initial-value: #FF7542;
}

@media screen and (min-width: 1283px) {

    /* parte central */

.centro-item{
    display: flex;
    flex-direction: row;
    width: 110em;
    margin-left: 0;
    margin-left: 70px;
}
.centro--item2{
    background: #FF4929;
    margin-left: 0;
    height: 680px;
    margin-top: 20px;
    max-width: 900px;
}
.centro-img{
    max-width: 630px;
    height: 680px;
    margin: none;
    padding: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 0;
    transform: translateY(3);
}
h1{
    color: #FA1E1E;
    text-align: center;
    font-family: fantasy;
    font-weight: 200;
    margin-left: 340px;
}
h2{
    color: #FA1E1E;
    text-align: center;
}
.card{
    margin-right: 20px;
    width: 270px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    background: color-mix(in srgb, #FF6D1F 60%, #fff 50%);
    box-shadow: 0 25px 50px #3B3B3B, inset 0 -4px 8px #A6A6A6;
    transition: transform .5s ease, box-shadow .6s ease;
    color: var(--text-color);
    margin-top: 189.1px;
    margin-left: -289.8px;
}
.card:hover{
    transform: rotate(0deg) scale(1) translateY(-10px) translateX(10px);
    box-shadow: 0 35px 70px #171718, inset 0 -6px 10px #585858;
}
.card--item{
    text-align: left;
    padding: 0 12px;
}
.card2{
    width: 270px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    background: color-mix(in srgb, #FF6D1F 60%, #fff 50%);
    box-shadow: 0 25px 50px #3B3B3B, inset 0 -4px 8px #A6A6A6;
    transition: transform .5s ease, box-shadow .6s ease;
    color: var(--text-color);
    margin-top: 290px;
    left: 1;
    margin-left: -540px;
}
.card2:hover{
    transform: rotate(0deg) scale(1) translateY(-15px) translateX(10px);
    box-shadow: 0 35px 70px #171718, inset 0 -6px 10px #585858;
}
.card--item2{
    text-align: left;
    padding: 0 12px;
}

}