*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: var(--bg--global);
}
body,form,div,a,form,ul,li,input,label{
    margin: 0;
    padding: 0;
    user-select: none;
}
a{
    text-decoration: none;
}


/* Barra de navegacion para movil, tablet y pc */

input[type=checkbox]{
    display: none;
}
.barra-img{
    width: 19%;
    border-radius: 50%;
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.barra_busqueda{
    display: flex;
    background: var(--barra-color);
}
#barra-label{
    position: absolute;
    right: 10px;
    color: var(--nav-color);
    font-size: 2rem;
    font-weight: 300;
}
.barra-nav{
    display: none;
    position: absolute;
    background: white;
    height: 100vh;
    width: 100%;
    z-index: 100;
    flex-direction: column;
}
.check:checked ~ .barra-nav{
    display: flex;
}
.barra_cerrar{
    position: absolute;
    right: 10px;
    margin: 10px;
    font-size: 1.9rem;
    color: red;
}
.barra-list{
    display: flex;
    list-style: none;
    text-decoration: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.barra-list2{
    display: flex;
    gap: 2px;
    margin-top: 180px;
    align-items: center;
    text-align: center;
}
.barra-list2 span{
    color: var(--barbg-color);
}
.barra-list2 a{
    color: var(--bar-color);
}
/* main */

.centro{
    container-type: size;
    container-name: main;
}
.centro-item{
    display: flex;
    background: var(--bg--global);
    flex-direction: column;
}
.centro-img{
    max-width: 100%;
    min-height: 100px;
    margin-top: 10px;
}
h1{
    color: #FA1E1E;
    text-align: center;
    font-family: fantasy;
    font-weight: 200;
}
h2{
    color: #FA1E1E;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}
.card{
    margin-right: 20px;
    width: 270px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    background: color-mix(in srgb, #FF6D1F 60%, #fff 50%);
    box-shadow: 0 25px 50px #3B3B3B, inset 0 -4px 8px #A6A6A6;
    transition: transform .5s ease, box-shadow .6s ease;
    color: var(--text-color);
    margin: auto;
}
.card:hover{
    transform: rotate(0deg) scale(1) translateY(-10px) translateX(10px);
    box-shadow: 0 35px 70px #171718, inset 0 -6px 10px #585858;
}
.card--item{
    padding: none;
    text-align: left;
    margin: 0;
    margin-top: 6px;
    margin-left: 4px;
}
.card2{
    margin-right: 20px;
    width: 270px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    background: color-mix(in srgb, #FF6D1F 60%, #fff 50%);
    box-shadow: 0 25px 50px #3B3B3B, inset 0 -4px 8px #A6A6A6;
    transition: transform .5s ease, box-shadow .6s ease;
    color: var(--text-color);
    margin: auto;
    margin-top: -50px;
}
.card2:hover{
    transform: rotate(0deg) scale(1) translateY(-15px) translateX(10px);
    box-shadow: 0 35px 70px #171718, inset 0 -6px 10px #585858;
}
.card--item2{
    text-align: left;
    margin-left: 4px;
    margin-top: 7px;
    line-height: 1.1;
}
.card3{
    margin-right: 20px;
    width: 270px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    background: color-mix(in srgb, #FF6D1F 60%, #fff 50%);
    box-shadow: 0 25px 50px #3B3B3B, inset 0 -4px 8px #A6A6A6;
    transition: transform .5s ease, box-shadow .6s ease;
    color: var(--text-color);
    margin: auto;
    margin-top: -50px;

}
.card3:hover{
    transform: rotate(0deg) scale(1) translateY(-15px) translateX(10px);
    box-shadow: 0 35px 70px #171718, inset 0 -6px 10px #585858;
}
.card--item3{
    text-align: left;
    margin-left: 4px;
    margin-top: 7px;
    line-height: 1.1;
}

/* colores generales */

@property --barra-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #5989FF;
}
@property --text-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #3B3B3B;
}
@property --bar-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #3B3B3B;
}
@property --barbg-color{
    syntax: "<color>";
    inherits: false;
    initial-value: color-mix(in srgb, #F56F18 90%, #000 20%);
}
@property --nav-color{
    syntax: "<color>";
    inherits: false;
    initial-value: color-mix(in srgb, #FF653B 60%, #000 30%);
}
@property --bg--global{
    syntax: "<color>";
    inherits: false;
    initial-value: #FF7542;
}
@property --ani-color-1{
    syntax: "<color>";
    inherits: false;
    initial-value: #FFC421;
}

/* animaciones */

@keyframes border-b {
from{
    border-bottom: var(--ani-color-1) solid 2px;
    width: 10px;
}
to{
    border-bottom: var(--ani-color-1) solid 2px;
    width: 100px;
}
}

@keyframes border-es {
from{
    border-bottom: var(--ani-color-1) solid 2px;
    width: 10px;
}
to{
    border-bottom: var(--ani-color-1) solid 2px;
    width: 70px;
}
}

@keyframes card {
from{
    background: #D10000;
    color: var(--text-color);
}
to{
    background: transparent;
    color: #B6B6B6;
}
}

@media screen and (min-width: 1283px) {

#barra_busqueda{
    background: var(--barra-color);
    display: block;
    position: sticky;
    top: 0;
    border-bottom: #000AD1 solid 3px;
    box-shadow: 0 0 30px #1F1919;
}
#barra_cerrar{
    display: none;
}
#barra-label{
    display: none;
}
.barra-img{
    border-radius: 50%;
    width: 6rem;
}
#barra-nav{
    display: block;
    position: static;
    height: 199.9px;
    z-index: -1;
    height: auto;
    width: auto;
    background: none;
    justify-content: space-between;
}
.barra-list{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    margin-left: 640px;
    gap: 120px;
}
.barra-list2{
    display: flex;
    gap: 3px;
    margin-top: -100px;
    align-items: center;
    text-align: center;
}
.barra-list2:hover{
    display: flex;
    gap: 4px;
    margin-top: -100px;
    align-items: center;
    text-align: center;
    padding: 0;
    animation: border-b 2s linear both;
}
.barra-ani-es:hover{
    animation: border-es 2s forwards;
}

    /* parte central */

.centro-item{
    display: flex;
    flex-direction: row;
    width: 110em;
    margin-left: 0;
    margin-left: 70px;
}
.centro--item2{
    background: #1A1515;
    margin-left: 0;
    height: 680px;
    margin-top: 20px;
    max-width: 900px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.centro-img{
    max-width: 630px;
    height: 680px;
    margin: none;
    padding: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 0;
    transform: translateY(3);
    margin-left: 130px;
}
.princi{
    color: #B30000;
    text-align: center;
    font-family: fantasy;
    font-weight: 200;
    margin-left: 310px;
}
.titu{
    color: #B30000;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 27px;
    filter: none;
}
.card{
    margin-right: 20px;
    width: 270px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    background: #D10000;
    box-shadow: 0 25px 50px #4AA1FF, inset 0 -4px 8px #2E8EFF;
    transition: transform .5s ease, box-shadow .6s ease;
    color: var(--text-color);
    margin-top: 182px;
    margin-left: -281.9px;
    margin-right: 50px;
}
.card:hover{
    transform: rotate(0deg) scale(1) translateY(-10px) translateX(10px);
    box-shadow: 0 35px 70px #1A82FF, inset 0 -6px 10px #2E8EFF;
    animation: card 4s forwards;
}
.card--item{
    text-align: left;
    line-height: 1.1;
    margin-left: 5px;
    margin-top: 7px;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 3px;
    filter: blur(4px);
}
.card--item:hover{
    text-align: left;
    line-height: 1.1;
    margin-left: 5px;
    margin-top: 7px;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 3px;
    filter: none;
}
.card2{
    width: 270px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    background: #D10000;
    box-shadow: 0 25px 50px #4AA1FF, inset 0 -4px 8px #2E8EFF;
    transition: transform .5s ease, box-shadow .6s ease;
    color: var(--text-color);
    margin-top: 340px;
    left: 1;
    margin-left: -540px;
}
.card2:hover{
    transform: rotate(0deg) scale(1) translateY(-15px) translateX(10px);
    box-shadow: 0 35px 70px #1A82FF, inset 0 -6px 10px #2E8EFF;
    animation: card 4s forwards;
}
.card--item2{
    text-align: left;
    margin-left: 4px;
    margin-top: 10px;
    margin-bottom: 4px;
    line-height: 1.1;
    filter: blur(4px);
}
.card--item2:hover{
    text-align: left;
    margin-left: 4px;
    margin-top: 10px;
    margin-bottom: 4px;
    line-height: 1.1;
    filter: none;
}
.card3{
    width: 270px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    background: #D10000;
    box-shadow: 0 25px 50px #4AA1FF, inset 0 -4px 8px #2E8EFF;
    transition: transform .5s ease, box-shadow .6s ease;
    color: var(--text-color);
    margin-top: 340px;
    left: 1;
    margin-right: 180px;
}
.card3:hover{
    transform: rotate(0deg) scale(1) translateY(-15px) translateX(10px);
    box-shadow: 0 35px 70px #1A82FF, inset 0 -6px 10px #2E8EFF;
    animation: card 4s forwards;
}
.card--item3{
    text-align: left;
    margin-left: 6px;
    margin-top: 10px;
    margin-bottom: 4px;
    line-height: 1.1;
    filter: blur(4px);
}
.card--item3:hover{
    text-align: left;
    margin-left: 6px;
    margin-top: 10px;
    margin-bottom: 4px;
    line-height: 1.1;
    filter: none;
}
}